.idea/*
.idea_modules/*
*.iml
project/project/*
project/target/*
target/*
msg-stream-server/target/*
msg-test/target/*
msg-infrastructure/target/*
msg-domain/target/*
msg-event-bus/target/*
msg-api-server/target/*
msg-server/target/*
